@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600&family=Poppins:wght@200;300;400;500;700&display=swap');
.dashboard_container{
    display: flex;
    width: 100%;
}
.side_container{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.134);    
}
.main_container{
    flex:3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.image{
    border-radius: 50%;
}

.image_container{
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



.text_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    font-size: 25px;
    font-weight: 300;
    margin: 0 25px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.add_items{
    flex: 3;
}

.form{
    margin: 0 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
    height: 100%;
    padding: 0px 30px;
}

.btn{
    padding: 10px;
    border-radius: 40%;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.btn:hover{
    font-weight: 600;
}

.input{
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 2px;
}

.form_element{
    width: 100%;
    margin: 20px 0px;
    font-weight: 300;
}

@media only screen and (max-width: 900px) {

    .image_container{
        display: flex;
        flex-direction: column;
    }
    
    .text{
        font-size: 20px;
        font-weight: 300;
        /* margin: 0 15px; */
    }
    
    
    
  }