@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600&family=Poppins:wght@200;300;400;500;700&display=swap');

.form_container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.form{
height: auto;
width: 60vw;
background-color: white;
box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
padding: 35px 50px;
}

.heading{
font-family: 'Poppins', sans-serif;
font-size: 40px;
font-weight: 500;
}

.form_element{
    margin: 30px 0px;
}

.input{
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 2px;
}

.btn{
    padding: 10px;
    border-radius: 40%;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.btn:hover{
    font-weight: 600;
}

@media screen and (max-width: 600px){
    .form{
        width: 300px;
        padding: 35px;
        }
}

