@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600&display=swap');

.header{
  position: sticky;
  top: 0;
  z-index: 30;
}


.nav{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  font-family: 'Noto Sans Mono', monospace;
}

.navLinks{
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}

.navLinks.logo{
  font-size: 20px;
  font-weight: 400;
}

.navLinks:hover{
  font-weight: bold;
}


.hamburger{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.hamburger div{
width: 35px;
height: 4px;
background-color: black;
cursor: pointer;
}

.navItems{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  right: -288px;
  min-height: calc(100vh - 60px);
  width: 288px;
  row-gap: 24px;
  padding: 24px 16px;
  transition: all 0.2s;
}

.navItems.active{
  right: 0;
  background-color: #f8fafc;
}


@media screen and (min-width: 768px){
  .hamburger{
    display: none;
  }

  .navItems{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }

 .underline{
  position: relative;
 }

 .underline::before{
  content: '';
  position: absolute;
  bottom: -9px;
  height: 4px;
  width: 0;
  background-color: black;
  transition: all 0.2s;
 }

 .underline:hover:before{
  width: 100%;
 }
 
}

@media screen and (max-width: 768px){

}